/*App.css*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #090912;
  color: white;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    radial-gradient(circle at 50% 40%, #1b123d 0%, #090912 55%);
}

.login-card {
  width: 500px;
  padding: 45px 55px;
  border: 1px solid #5942c7;
  border-radius: 20px;
  background: rgba(20, 18, 50, 0.75);
  box-shadow: 0 0 35px rgba(100, 60, 255, 0.2);
  text-align: center;
}

.logo {
  font-size: 65px;
  color: #8b5cf6;
  margin-bottom: 45px;
}

.login-card h1 {
  margin: 0;
  font-size: 42px;
}

.subtitle {
  margin-top: 8px;
  margin-bottom: 40px;
  color: #aaa5d8;
  font-size: 18px;
}

.input-box {
  height: 55px;
  margin-bottom: 20px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  gap: 15px;

  border: 2px solid #5140b9;
  border-radius: 30px;

  background: rgba(30, 27, 65, 0.8);
}

.input-box span {
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa5e8;
  font-size: 20px;
  flex-shrink: 0;
}

.input-box input {
  flex: 1;
  border: none;
  outline: none;

  background: transparent;
  color: white;

  font-size: 17px;
}

.input-box input::placeholder {
  color: #aaa5c5;
}

.eye {
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 5px 30px;

  color: #c4c0df;
}

.options label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.options input {
  width: 17px;
  height: 17px;
}

.forgot-button {
  border: none;
  background: transparent;
  color: #9b6cff;

  font-size: 15px;
  cursor: pointer;
}

.forgot-button:hover {
  color: white;
  text-shadow: 0 0 10px #9b6cff;
}

.login-button,
.register-button {
  width: 100%;
  height: 55px;

  border-radius: 30px;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
}

.login-button {
  border: none;
  color: white;

  background: linear-gradient(
    90deg,
    #6335f5,
    #a56cff
  );

  box-shadow: 0 0 20px rgba(120, 70, 255, 0.35);

  margin-bottom: 20px;
}

.register-button {
  border: 2px solid #654bd8;
  background: transparent;
  color: white;
}

.login-button:hover {
  box-shadow: 0 0 30px rgba(120, 70, 255, 0.6);
}

.register-button:hover {
  background: rgba(100, 70, 220, 0.15);
}
